@use "./utilities/colors" as c;
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

.navbar {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

body {
	font-family: "Sora", sans-serif;
	font-size: 1.6rem;
	background-color: c.$page-color;
}

.logo {
	text-decoration: none;
	color: c.$main-color;
	font-size: 3.2rem;
	margin: 20px;
	font-weight: 600;
}

.burger {
	position: absolute;
	width: 40px;
	right: 0;
	margin: 20px;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	z-index: 1000;
	&__lines {
		height: 4px;
		margin: 8px 0;
		background-color: c.$main-color;
		transition: width 0.3s;
		&-line2 {
			width: 30px;
		}
		&-line3 {
			width: 20px;
		}
	}
	&:hover {
		.burger__lines {
			width: 40px;
		}
	}
}

.nav {
	display: flex;
	position: fixed;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: c.$page-color;
	transform: translateX(100%);
	transition: all 0.5s;
	z-index: 100;
	&__items {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__login {
		margin-top: 60px;
	}
	&__item {
		font-size: 4rem;
		margin-top: 40px;
		text-decoration: none;
		color: c.$main-color;
		&--white {
			color: c.$pure-white;
			font-size: 2rem;
		}
		&--active {
			font-size: 2rem;
			color: c.$dark;
			background-color: c.$main-color;
			padding: 0.6em;
			border-radius: 8px;
		}
	}
}

.active {
	transform: translateX(0);
}

.header {
	height: 100vh;
	width: 100vw;
	text-align: center;
	background-image: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.2),
			rgba(0, 0, 0, 0.2)
		),
		url(/dist/img/header.png);
	background-size: cover;
	background-position: 85%;
	background-attachment: fixed;
	&__title {
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__text {
		color: c.$pure-white;
		padding: 0 1em;
		font-size: 3.6rem;
		font-weight: 600;
		animation: appear 1s;
	}
	&__btn {
		margin-top: 80px;
		animation: appear 1s 0.5s both;
		text-decoration: none;
	}
}

@keyframes appear {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
