$page-color: rgba(22, 24, 30, 1);
$main-color: rgba(173, 255, 160, 1);
$secondary-color: rgba(90, 201, 148, 1);
$dark: rgba(20, 27, 41, 1);
$green-dark: rgba(18, 65, 67, 1);
$pure-white: rgba(255, 255, 255, 1);

